@import 'colors';

* {
  max-width: 100%;
}

.dropdown-menu > li > a {
  white-space: inherit;
}

.course,
[ng-model="html"] {
  // Auto-prefixer currently not working, have to include non-standard vendor prefixes for now
  -webkit-columns: 300px 2;
  -moz-columns: 300px 2;
  columns: 300px 2;
  // Auto-prefixer currently not working, have to include non-standard vendor prefixes for now
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;

  h1 {
    // Auto-prefixer currently not working, have to include non-standard vendor prefixes for now
    -webkit-column-span: all;
    column-span: all;
  }

  h2,
  h3,
  h4,
  h5 {
    // Auto-prefixer currently not working, have to include non-standard vendor prefixes for now
    -webkit-column-break-after: avoid;
    break-after: avoid;
  }
}