<h1 style="text-align: center;">How to Use the Nebula System</h1>
<p><img src="https://41.media.tumblr.com/a53640431028cbd8e05cc05b3cdb1e47/tumblr_o5l326OrPe1u86whao1_1280.jpg" style="width: 100%;" />
  <br/>
</p>
<h2 style="text-align: left;">Nebula Demonstration</h2>
<p style="text-align: left;">The Nebula content editor allows e-learning authors to create mobile-friendly content that can be published and updated for learners in realtime. The What You See is What You Get (WYSIWYG) editor is designed to work in a way familiar to other word processes
  and is powered by <a href="http://textangular.com/" target="">TextAngular</a>.</p>
<p style="text-align: left;">Content changes made within the editor are saved automatically and sent to the Nebula viewing application in realtime, a demo of which can be found <a href="https://nebula-editor.herokuapp.com/#/viewer" target="">here</a>.</p>
<h3>Editing Course Properties</h3>
<p>Click blue properties in the Course Property list to edit them. Changes are only published when clicking the tick.</p>
<h3>Authoring Content</h3>
<p style="text-align: left;">Content can be created directly within the editor, or copied from other programs (such as Word, Powerpoint) or documents (such as PDF, DOCX).</p>
<p style="text-align: left;">Adding images and links is possible using the editor, although images must be hosted externally.</p>
<p style="text-align: left;">Using the '&lt;/&gt;' button will enable authors to directly edit the HTML if they so wish, although be aware that content is sanitised to remove scripts for security reasons.</p>
<p style="text-align: left;">Content is split in to two columns equally on large screens, for mobile devices content is simplified in to one full width column. Primary headings (H1) will always span across all columns.</p>
<h2>About Nebula</h2>
<p style="text-align: left;">Nebula is part of an ongoing e-learning system project being developed in industry. This demonstration is used as part of an undergraduate Creative Technologies Project at UWE. After completion of the university project, this page will be updated as Nebula
  progresses.</p>
<h3>Developer Stuff</h3>
<ul>
  <li>Content editor is powered by Angular.js and TextAngular.</li>
  <li>Content viewing application is powered by Angular.js and Cordova for its Android and iOS applications.</li>
  <li>Nebula's API uses a RESTful interface built on Express.js and Node.js</li>
</ul>
<h4>Platform Support</h4>
<p>Nebula is designed to work in all major modern browsers and platforms, however Internet Explorer has not been fully tested, in particular versions 9 and below will most likely have issues at this time.</p>