<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#viewer__nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Nebula</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="viewer__nav">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course Properties <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>{{ config.title }}</a></li>
            <li><a>From: {{ config.company }}</a></li>
            <li><a>By: {{ config.author }}</a></li>
            <li><a>Date: {{ config.date_created }}</a></li>
            <li><a>Updated: {{ updated }} times</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="container">

  <div ng-bind-html="htmlViewer" class="course"></div>
</div>